#tudo {

    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif !important;
    margin-top: 60px;
}


.conteiner-textos {
    display: inline-flex;
    align-content: center;
    padding: 70px;

}

.conteiner-textos div {
    width: 300px;
    margin-right: 30px;
}

.titulo h4 {
    font-size: 20px;
    margin-bottom: 70px;
    color: rgba(0, 0, 0, 0.642);
}

.conteiner-textos h3 {
    margin-top: 20px;
    text-align: center;
}

.conteiner-textos p {
    width: 90%;
    font-size: 40px;
    text-align: justify !important;
    font-size: 16px;
    margin-top: 20px !important;
    margin-bottom: 90px !important;
    margin: auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.642);
    line-height: 25px;
}

.icone {
    width: 120px;
}

@media screen and (max-width: 1864px) {

    .conteudo {
        width: 100%;
    }

    .conteiner-textos {
        display: inline-flex;
    }

    .titulo h1 {
        font-size: 40px;
    }

    .titulo h4 {
        margin-top: 15px;
        font-size: 25px;
    }
}

@media screen and (max-width: 1150px) {

    #tudo {

        text-align: center;
        
    }

    .conteiner-textos {
        display: inline-flex;
        width: 100%;
    }

    .titulo h1 {
        font-size: 30px;
        
    }

    .titulo h4 {
        margin-top: 15px;
        font-size: 16px;
        
    }
}

@media screen and (max-width: 860px) {

    #tudo {

        text-align: center;
        
    }

    .conteiner-textos {
        display: flexbox;
        align-content: center!important;
    }

    .titulo h1 {
        font-size: 27px;
        
    }

    .titulo h4 {
        margin-top: 15px;
        font-size: 16px;
        
    }
}

@media screen and (max-width: 500px) {

    .conteudo {
        width: 100%;
    }

    .conteiner-textos {
        display: block;
    }

    .titulo h1 {
        font-size: 20px;
    }

    .titulo h4 {
        margin-top: 15px;
        font-size: 16px;
    }

}